<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nimgade.pk.tutorial101">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="support.my.classes.StartUp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="recycler.view.list.activities.RecyclerViewListActivity"
            android:label="@string/title_activity_recycler_view_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.tutorial101.MainActivity" />
        </activity>
        <activity
            android:name="recycler.view.list.activities.one.RecyclerTestOneActivity"
            android:label="@string/title_activity_recycler_test_one"
            android:parentActivityName="recycler.view.list.activities.RecyclerViewListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="recycler.view.list.activities.RecyclerViewListActivity" />
        </activity>
        <activity
            android:name="data.binding.list.activities.DataBindingListActivity"
            android:label="@string/title_activity_data_binding_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.tutorial101.MainActivity" />
        </activity>
        <activity
            android:name="data.binding.list.activities.one.DataBindingOneActivity"
            android:label="DataBindingOneActivity"
            android:parentActivityName="data.binding.list.activities.DataBindingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="data.binding.list.activities.DataBindingListActivity" />
        </activity>
        <activity
            android:name="data.binding.list.activities.two.DataBindingTwoActivity"
            android:label="DataBindingTwoActivity"
            android:parentActivityName="data.binding.list.activities.DataBindingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="data.binding.list.activities.DataBindingListActivity" />
        </activity>
        <activity
            android:name="data.binding.list.activities.three.DataBindingThreeActivity"
            android:label="DataBindingThreeActivity"
            android:parentActivityName="data.binding.list.activities.DataBindingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="data.binding.list.activities.DataBindingListActivity" />
        </activity>
        <activity
            android:name="data.binding.list.activities.four.imageview.data.binding.DataBindingFourActivity"
            android:label="DataBindingFourActivity"
            android:parentActivityName="data.binding.list.activities.DataBindingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="data.binding.list.activities.DataBindingListActivity" />
        </activity>
        <activity
            android:name="realm.list.activities.RealmListActivity"
            android:label="@string/title_activity_realm_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nimgade.pk.tutorial101.MainActivity" />
        </activity>
        <activity
            android:name="realm.list.activities.one.RealmOneActivity"
            android:label="RealmOneActivity"
            android:parentActivityName="realm.list.activities.RealmListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="realm.list.activities.one.RealmOneActivity" />
        </activity>
    </application>

</manifest>